@tailwind base;
@tailwind components;
@tailwind utilities;





@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Noto+Serif&family=Ysabeau:wght@100&display=swap');


.img{
    transform: scale(1) ;
    transition: 1s;
}
.im{
    transform: scale(1) ;
    transition: 1s;
}
body{
    font-family: 'Crimson Text', serif;
  
  }
.img:hover,
.img:focus{
    transform: scale(1.25) ;
}
.im:hover,
.im:focus{
    transform: scale(1.05) ;
}

.chrischain{
    display: grid;
    grid-template-columns:repeat(3, .7fr) ;
    grid-template-areas: 'a b c';
    grid-template-rows: repeat(1, auto);
    column-gap: 20px;
    justify-items: center;
    /* background-color: black; */
}
.red{
    width: 300px;
    height: 354px;
    border-radius: 24px;
}
.firstpara{
    color: #777777;
    width: 70%;
}
.img3{
    position: relative;
    border-radius: 24px;
    width: 494px;
    height: 506px;
}
.img5{
    position: absolute;
    top: 65%;
    left: 10%;
    z-index: 1;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
}
.azile{
justify-content: space-evenly;
align-items: center;
}
.thirddiv{
    justify-content: space-between;
}
.img8{
    border-radius: 24px;
    width: 444px;
    height: 523px;
}
.img7{
    border-radius: 12px;
    width: 291px;
    height: 388px;
    top: 70%;
    right: 4%;
    z-index: 1;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12)
}

.img11{
    height: 58px;
    width: 58px;
    
}
.center{
    text-align: center;
}
.active{
display: flex;
padding-top: 18px;
}
.hid{
    overflow: hidden;
}
/* .btn::before{
 content: '';
 position: absolute; 
 left: 0;
 top: 0;
 width: 50%;
 height: 100%;  
 background-color: red;
 z-index: -1;
 transition: transform 0.5s;
 transform-origin: 0 0;
 transition-timing-function: cubic-bezier(0.5, 1.62, 0.4, 0.7);
 transform:scaleX(0);
 border-radius: 8px;
}
.btn:hover::before{
    transform:scaleX(1);
} */
.footerscroll{
    
    transition: transform 0.5s ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  
  .footerscroll.animating {
    transform: scaleY(1);
  }
 
