@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Monsieur+La+Doulaise&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Noto+Serif&family=Ysabeau:wght@100&display=swap');


.stress{
  font-family: 'Great Vibes', cursive;
}
.alex{
  font-family: 'Monsieur La Doulaise', cursive;
}
.black{
  background-color: black;
  color:lavender;
}
.white{
  background-color: white;
  color:black;
}
.press{
  font-family: 'Source Serif Pro', serif;
}
.exit{
  font-family: 'Source Serif Pro', serif;

}



/* body{
  font-family: 'Crimson Text', serif;

} */